<div class="container">
    <h1>My Product</h1>
    <!-- <button type="button" routerLink="/create-product">Create Product</button> -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let ind = index">
              <td>{{product.id}}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.price}}</td>
              <td>
                <button type="button" class="btn btn-primary" [routerLink]="['product-details',product.id]" [queryParams]="{val1:10,val2:20}">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-danger" [routerLink]="['product-category']">Show Category</button>

              </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>


